* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.intro {
  padding: 2.4rem;
  background: blue;

  @include hocus {
    color: red;
  }
}
