<div class="choose-country">
  <h1 class="choose-country__heading">Landen Generator</h1>
  <div class="choose-country__country">
    <div class="choose-country__country-details">
      <p class="choose-country__country-details__name">Klik op kies</p>
    </div>
    <button class="choose-country__button">Kies</button>
  </div>
</div>