<div class="container">
  <div class="introduction">
    <h1 class="heading--1">Hello World!</h1>
    <p class="introduction__description">Vestibulum posuere convallis suscipit.
      Phasellus quis libero augue. Curabitur imperdiet porttitor ex, eu euismod
      lorem pretium vel. Maecenas sollicitudin, erat et pellentesque efficitur,
      libero risus gravida odio, ac rutrum neque sapien rhoncus nibh. Sed diam
      metus, vestibulum ut dolor eget, lacinia suscipit turpis. Praesent eu orci
      semper, dapibus velit in, euismod mi. Pellentesque consectetur dolor sed
      mi tempus molestie.</p>
  </div>
</div>