<div class="introduction">
  <div class="chosenCountry">Klik op kies</div>
  <button class="buttonCountry">Kies</button>
</div>

<script>
  const chosenCountry = document.querySelector('.chosenCountry'); const
  buttonCountry = document.querySelector('.buttonCountry');
  buttonCountry.addEventListener('click', function() { chosenCountry.textContent
  = 'Nederland'; })
</script>